version: '3.9'

services:
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - './db/temp:/var/lib/postgresql/data'
    ports:
      - '5432:5432'
    restart: always
  web:
    build: .
    ports:
      - '${SERVICE_PORT}:${SERVICE_PORT}'
    links:
      - postgres
    depends_on:
      - postgres
    environment:
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
      DB_USERNAME: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      SERVICE_PORT: ${SERVICE_PORT}
